In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [5]:
arabica = pd.read_csv('../data/processed/arabica_processed.csv')
arabica.drop(columns=['Unnamed: 0'], inplace=True)
arabica

,Country.of.Origin,Variety,Processing.Method,Moisture,Harvest.Year,Color,altitude_mean_meters,Category.One.Defects,Category.Two.Defects,Total.Cup.Points
0,5,7,4,0.12,2014,1,2075.000000,0,1,89.92
1,5,7,4,0.12,2014,1,2075.000000,0,2,88.83
2,5,7,0,0.10,2014,1,1822.500000,0,4,88.25
3,1,1,4,0.10,2015,1,1450.000000,0,0,87.25
4,14,7,4,0.00,2014,1,2019.000000,0,0,87.25
...,...,...,...,...,...,...,...,...,...,...
890,7,2,4,0.10,2014,1,1450.000000,0,4,69.17
891,11,0,4,0.11,2012,1,900.000000,0,20,68.33
892,14,15,0,0.14,2012,0,350.000000,8,16,67.92
893,13,3,1,0.13,2016,1,1100.000000,1,5,63.08
894,6,2,4,0.10,2012,1,431.978055,0,4,59.83

In [6]:
X = arabica.drop(columns= ['Total.Cup.Points'])
y = arabica['Total.Cup.Points']

In [7]:
X.shape

(895, 9)

In [8]:
y.shape

(895,)

In [ ]:
scaler= StandardScaler()

X_train_scaled= scaler.fit_transform(X_train)
X_test_scaled= scaler.transform(X_test)