In [1]:
from sklearn import metrics
import numpy as np, pandas as pd

In [2]:
arabica = pd.read_csv('../data/test/arabica_test.csv')

arabica

,Unnamed: 0,Country.of.Origin,Variety,Processing.Method,Moisture,Harvest.Year,Color,altitude_mean_meters,Category.One.Defects,Category.Two.Defects,Total.Cup.Points
0,879,16,7,4,0.12,2013,1,1700.000000,0,7,81.67
1,771,2,3,4,0.00,2013,0,1750.000000,0,1,82.17
2,888,6,0,4,0.11,2012,1,534.166413,0,4,81.67
3,730,0,6,0,0.12,2012,1,1100.000000,0,2,82.33
4,67,5,7,0,0.12,2015,1,1900.000000,0,7,85.50
...,...,...,...,...,...,...,...,...,...,...,...
174,1269,8,7,0,0.12,2011,1,3500.000000,4,26,76.17
175,1072,0,16,3,0.11,2016,1,1250.000000,0,3,80.50
176,92,2,3,0,0.11,2012,1,2136.000000,0,8,85.08
177,828,11,6,4,0.14,2012,1,690.000000,2,8,81.92
178,219,3,3,4,0.00,2014,0,1850.000000,0,0,84.17

In [ ]:
def train_test_evaluate(model_name, model, X_train, y_train, X_test, y_test):  

    model.fit(X_train, y_train)
    
    y_pred= model.predict(X_test)
    
    mae = metrics.mean_absolute_error(y_test, y_pred)
    mse = metrics.mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))
    r2 = metrics.r2_score(y_test, y_pred)
    y_test_mean= y_test.mean()
    mae_ratio= mae/y_test_mean
    rmse_ratio= rmse/y_test_mean
    
    result_df = pd.DataFrame(
        data=[[model_name, mae, mse, rmse, r2, mae_ratio, rmse_ratio]], 
        columns=["Model", 'MAE', 'MSE', 'RMSE', 'R2 Score', "MAE Ratio", "RMSE Ratio"])
    return result_df

In [ ]:
def test_evaluate_hyperparameter(model_name, model, X_test, y_test, y_train):  

    y_pred= model.predict(X_test)
    
    mae = metrics.mean_absolute_error(y_test, y_pred)
    mse = metrics.mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))
    r2 = metrics.r2_score(y_test, y_pred)
    y_test_mean= y_test.mean()
    mae_ratio= mae/y_test_mean
    rmse_ratio= rmse/y_test_mean
    
    result_df = pd.DataFrame(
        data=[[model_name, mae, mse, rmse, r2, mae_ratio, rmse_ratio]], 
        columns=["Model", 'MAE', 'MSE', 'RMSE', 'R2 Score', "MAE Ratio", "RMSE Ratio"])
    
    return result_df